In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("salaries.csv")

In [3]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
encoder=LabelEncoder()

In [6]:
df['comapanyN']=encoder.fit_transform(df['company'])

In [7]:
df['comapanyN']=encoder.fit_transform(df['company'])

In [8]:
df['comapanyN']=encoder.fit_transform(df['company'])
df['jobN']=encoder.fit_transform(df['job'])
df['degreeN']=encoder.fit_transform(df['degree'])

In [9]:
df.head()

,company,job,degree,salary_more_then_100k,comapanyN,jobN,degreeN
0,google,sales executive,bachelors,0,2,2,0
1,google,sales executive,masters,0,2,2,1
2,google,business manager,bachelors,1,2,0,0
3,google,business manager,masters,1,2,0,1
4,google,computer programmer,bachelors,0,2,1,0

In [23]:
df.drop(['company','job','degree'],axis=1,inplace=True)

In [69]:
len(df['comapanyN'].unique())

3

In [25]:
from sklearn.model_selection import train_test_split

In [60]:
x_train,x_test,y_train,y_test=train_test_split(df[df.columns[1:4]],df.salary_more_then_100k,test_size=0.5)

In [61]:
from sklearn import tree

In [62]:
model=tree.DecisionTreeClassifier()

In [63]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [65]:
model.score(x_train,y_train)

1.0